pipeline/Incremental Copy Pipeline.json
{
	"name": "Incremental Copy Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Copy delta from SQL To Blob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup Last Change Tracking Version Activity",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup Current Change Tracking Activity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select data_source_table.PersonID,data_source_table.Name,data_source_table.Age, CT.SYS_CHANGE_VERSION, SYS_CHANGE_OPERATION from data_source_table RIGHT OUTER JOIN CHANGETABLE(CHANGES data_source_table, @{activity('Lookup Last Change Tracking Version Activity').output.firstRow.SYS_CHANGE_VERSION}) as CT on data_source_table.PersonID = CT.PersonID where CT.SYS_CHANGE_VERSION <= @{activity('Lookup Current Change Tracking Activity').output.firstRow.CurrentChangeTrackingVersion}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ChangeTrackingDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Incremental_Blob_Dest_Dataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup Last Change Tracking Version Activity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ChangeTrackingDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Lookup Current Change Tracking Activity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT CHANGE_TRACKING_CURRENT_VERSION() as CurrentChangeTrackingVersion",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ChangeTrackingDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Stored procedure update change tracking",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy delta from SQL To Blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Update_ChangeTracking_Version]",
					"storedProcedureParameters": {
						"CurrentTrackingVersion": {
							"value": {
								"value": "@{activity('Lookup Current Change Tracking Activity').output.firstRow.CurrentChangeTrackingVersion}",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"TableName": {
							"value": {
								"value": "@{activity('Lookup Last Change Tracking Version Activity').output.firstRow.TableName}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Incremetal_Source_LS",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2020-09-18T09:14:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}